# 일반 문자열

In [ ]:
# 대소문자를 가립니다.
# ^hello는 처음에 나오는 hello 입니다.
# hello^는 마지막에 나오는 hello는 아닙니다.
# hello$는 마지막에 나오는 hello 입니다.
# h.llo는 h 다음에 어떤 문자든 1개의 문자(영문, 특수문자, 숫자, 한글 등)가 오며 llow가 이어 나와야 합니다.

# 대괄호(택1)

In [ ]:
# h[eao]llo는 hello, hallo, hollo를 선택합니다. 3개 문자중 택1입니다.
# h[e!ao]llo는 hello, hallo, hollo, h!llo를 선택합니다. 3개 문자중 택1입니다.
# [a-z]
# [a-zA-Z]
# [0-9]
# [a-zA-Z0-9]
# [가-힣]
# h1el222lo3wo123rl2d # [0-9]라고
# ^[a-z] : 부정이 아닙니다. 알파벳으로 시작하는 문자열입니다.
# [^a-z] : 대괄호 안에 들어가면 부정입니다!
# h[^ao]llo : a, o 모두 하나씩 아닌것
# h[a^o]llo : a, ^, o 모두 하나씩 잡습니다. ^는 대괄호 열기 바로 다음에 나오게 해주세요.

# 수량자

In [ ]:
# _* : 앞에 있는 문자가 0개 ~ N개
# _+ : 앞에 있는 문자가 1개 ~ N개
# _? : 앞에 있는 문자가 0개 ~ 1개

# {3} : 3개
# {3,} : 3개 이상
# {1,3} : 1개 ~ 3개

# _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
# _+ : 앞에 있는 문자가 1개 ~ N개({1,})
# _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

In [ ]:
# 이런 정규표현식은 여러분이 직접 만들지 마세요.
# 인터넷 검색하면 나옵니다. email, 한국 전화번호 등이요.
# why? 정규표현식에서 실수가 생겨 서비스에 CS가 들어온다던지
# 크리티컬한 문제가 생긴다던지 하는 경우가 많습니다.
# 읽을 줄은 알아야 합니다. 여러 패턴을 조합하거나, 비교는 해봐야 하니까요.
# [0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]
# 0[0-9]+[-. ]?[0-9]{3,4}[-. ]?[0-9]{3,4}

In [ ]:
# group1, group2
# group1 => key
# group2 => value
# ([a-zA-Z0-9@\.\-]+), ?([a-zA-Z0-9@\.\-]+)
# '[(name, leehojun), (age, 10), (height, 180), (email, paul-lab@naver.com)]'

# 캐릭터 클래스

In [ ]:
# /\w/gm : 워드(한글이 잡히지 않습니다!)
# /\w{5} /gm : 5개의 글자와 스페이스 하나
# /\W/gm : not 워드
# /\d/gm : 숫자
# /\D/gm : not 숫자
# /\s/gm : 스페이스
# /\S/gm : not 스페이스

# 문제: 전화번호 정규표현식을 만들어주세요.
# \d{3}\W?\d{4}\W?\d{4}
# 0[\d]{1,2}[\-\. ]?[\d]{3,4}[\-\. ]?[\d]{3,4}

## 정규표현식
* https://paullabworkspace.notion.site/1c57fc683c33468d95e7a490b6f66c95?pvs=4 (https://regexr.com/5nvc2)
* Anchors (처음과 끝)
    ```
    /^hello/gm : 처음에 hello
    /hello$/gm : 끝에 hello
    ```

* dot (모든 문자)
    ```
    /.ello/gm : hello, Hello, vello
    /./gm : 모든 문자열(*과 같은 역할)
    /....../gm : 모든 6개의 문자열
    ```

* 대괄호 (택1)
    ```
    /h[eay]llo/gm : 대괄호 안에 문자는 문자 1개에 해당!
    /h[ea]l../gm : 총 5개의 문자
    ```

* 대쉬 (범위)
    ```
    /h[a-f]llo/gm
    /[a-zA-Z0-9]/gm : 모든 알파뱃과 숫자를 찾음
    /[^a-zA-Z0-9]/gm : 나머지 문자열을 찾음
    ```

* 캐럿(caret) (대괄호 안에 들어가면 부정)
    * 아래 경우 a와 e가 모두 부정
        ```
        /h[^ae]llo/gm : 대괄호 안에 있다면 not에 의미
        ```

* 소괄호 (서브패턴, 그룹)
    * 패턴으로 외우시는 것보다 다양한 예제로 습득하시기를 권해드립니다.
    ```
    /(on|ues|rida)/gm : 그룹 1로 3개 중 매칭되는 패턴 찾음
    ```

* 수량자
    ```
    _* : 앞에 있는 문자가 0개 ~ N개
    _+ : 앞에 있는 문자가 1개 ~ N개
    _? : 앞에 있는 문자가 0개 ~ 1개

    {3} : 3개
    {3,} : 3개 이상
    {1,3} : 1개 ~ 3개

    _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
    _+ : 앞에 있는 문자가 1개 ~ N개({1,})
    _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

    /[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm
    /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
    /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm
    ```

* 캐릭터 클래스
    ```
    /\w/gm : 워드
    /\w{5} /gm : 5개의 글자와 스페이스 하나
    /\W/gm : not 워드
    /\d/gm : 숫자
    /\D/gm : not 숫자
    /\s/gm : 스페이스
    /\S/gm : not 스페이스
    ```

* 이스케이프문자
    ```
    /\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
    /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
    /\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
    /-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
    /\^\^/gm : 이스케이프 문자가 필요한 경우
    /:\)/gm : 이스케이프 문자가 필요한 경우
    ```


* (연습) 전화번호
    ```
    010[-,. ]?[0-9]{4}[-,. ]?[0-9]{4}
    010([-,. ]?[0-9]{4}){2}
    ```

* 공식문서 : https://docs.python.org/ko/3/library/re.html

* 정규표현식에서 자주 사용되는 패턴
    * 아래와 같이 2가지 방법으로 사용할 수 있습니다.
    ```
    # 1
    p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
    p.findall('1S2D*3T')

    # 2
    re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')
    ```
    * compile() : 패턴 컴파일
    * match() : 문자열의 앞 부분이 매치되는가를 체크, 추출
    * sub() : 매치된 부분을 치환 (str에 replace와 같은 역활)
    * search() : 선두에 한해서 매치하는지를 체크, 추출
    * findall() : 매치된 부분 모두 리스트 반환
    * finditer() : 정규식과 매치되는 모든 문자열(substring)을 반복 가능한 객체로 리턴한다.
    * spilt() : 정규표현 패턴으로 문자열을 분할 (str에 split과 같은 역활)

* 반환 객체의 값
    * group() : 매치된 문자열
    * groups() : 매치된 문자열 전체
    * start() : 매치된 문자열의 시작 위치
    * end() : 매치된 문자열의 끝 위치
    * span() : 매치된 문자열의 시작과 끝

* 컴파일 옵션(플래그)
    * 사용 예
    ```
    re.compile('[a-z]+', re.I)
    ```
    * re.DOTALL, re.S : 줄바꿈 문자까지 모두 매칭
    * re.IGNORECASE, re.I : 대소문자 구분하지 않음
    * re.MULTILINE, re.M : ^, & 등의 매칭 패턴을 라인마다 적용
    * re.VERBOSE, re.X : 아래와 같이 #으로 주석문을 사용할 수 있음
    ```
    a = re.compile(r"""\d +  # the integral part
                   \.    # the decimal point
                   \d *  # some fractional digits""", re.X)
    b = re.compile(r"\d+\.\d*")
    ```

* tip
    * 같은 패턴입니다.
    ```
    re.compile('\\\\section')
    re.compile(r'\\section')
    ```
    * {}를 표현하고 싶을 때에는 중괄호 2개, 또는 때에 따라 3개가 필요합니다.
    ```
    re.compile(f'{{section}}')
    ```

In [1]:
s = '1S2D3T'
result = 0
for i in s:
    if i.isdigit():
        result += int(i)
result

6

In [7]:
s = '1S2D3T'
result = []
for i in s:
    if i.isdigit():
        result.append(int(i))
    elif i == 'S':
        result[-1] **= 1
    elif i == 'D':
        result[-1] **= 2
    elif i == 'T':
        result[-1] **= 3
result

[1, 0, 4, 27]

In [8]:
import re

p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

[('10', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

In [6]:
result = []
for 점수, 승수, 상 in [('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]:
    if 승수 == 'S':
        result.append(int(점수)**1)
    elif 승수 == 'D':
        result.append(int(점수)**2)
    elif 승수 == 'T':
        result.append(int(점수)**3)
result

[1, 4, 27]

## compile

In [9]:
import re

p = re.compile('h[eao]llo')

In [10]:
text = '''hello
hallo
hollo
'''
text

'hello\nhallo\nhollo\n'

## match

In [ ]:
# 실무에서는 특정한 패턴이 존재하는지만 사용하는 것으로 많이 사용합니다.
# 찾아서 무언가를 하는 것은 findall이나 sub 이런 메서드를 많이 사용합니다.

In [16]:
import re

p = re.compile('h[eao]llo')
print(p.match('hello hallo hollo hillo hallo'))

<re.Match object; span=(0, 5), match='hello'>

In [15]:
import re

p = re.compile('h[eao]llo')
print(p.match('hillo hnllo'))

None

In [ ]:
result = p.match('hello hallo hollo hillo hallo')
result.group(0)
# result.group(1)

'hello'

In [20]:
import re

p = re.compile('(\w+) (\w+) (\w+)')
result = p.match('hello hallo hollo hillo hallo')
result.group(0) # 전체 그룹
result.group(1) # 그룹1
result.group(2) # 그룹2
result.group(3) # 그룹3

'hollo'

In [ ]:
import re

p = re.compile('(\w+) (\w+) (\w+)')
result = p.match('hello hallo hollo hillo hallo')
result.group(1, 2) # 그룹1, 그룹2

('hello', 'hallo')

In [ ]:
import re

p = re.compile('h[eao]llo')
p.match('hillo hallo hollo hillo hallo')
# None값이 출력된 것입니다.
# 문자열 압쪽이 매칭이 안된 것입니다.

In [ ]:
# 아래 문법은 match 말고도 다른 문법에서도 사용이 가능합니다.
m = re.match(r"(?P<first_name>\w+) (?P<last_name>\w+)", "Malcolm Reynolds")
m.group('first_name'), m.group('last_name')

('Malcolm', 'Reynolds')

In [ ]:
m[0]

'Malcolm Reynolds'

In [ ]:
m[1], m[2]

('Malcolm', 'Reynolds')

In [ ]:
m = re.match(r"010-(?P<앞자리>[0-9]{4})-(?P<뒷자리>[0-9]{4})", "010-1000-2000")
m.group('앞자리'), m.group('뒷자리')

('1000', '2000')

In [ ]:
# 실제로 실무에서 match 사용되는 패턴 (공식문서)
valid = re.compile(r"^[a2-9tjqk]{5}$")

def displaymatch(match):
    if match is None:
        return None
    return '<Match: %r, groups=%r>' % (match.group(), match.groups())

displaymatch(valid.match("akt5q"))

In [ ]:
# 실제로 실무에서 match 사용되는 패턴 (공식문서)
valid = re.compile(r"^[a2-9tjqk]{5}$")

def displaymatch(match):
    if match is None:
        return None
    return '해당 패턴에 매칭됩니다!'

displaymatch(valid.match("akt5q"))

'해당 패턴에 매칭됩니다!'

## sub

* str에 replace 메서드와 같은 기능
* 정규표현식을 사용할 수 있는 코드

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120849

In [ ]:
def solution(my_string):
    return my_string.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

In [ ]:
def solution(my_string):
    string = 'aeiou'
    for i in string:
        my_string = my_string.replace(i, '')
    return my_string

In [22]:
table = str.maketrans('', '', 'aeiou')
s = 'hello world'
s.translate(table)

'hll wrld'

In [ ]:
import re

def solution(my_string):
    return re.sub(r"[aeiou]", "", my_string)

In [ ]:
import re

solution = lambda my_string: re.sub(r"[aeiou]", "", my_string)

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120826

In [ ]:
def solution(my_string, letter):
    for i in letter:
        my_string = my_string.replace(i, '')
    return my_string

In [ ]:
import re

def solution(my_string, letter):
    return re.sub(letter, "", my_string)

In [ ]:
import re

solution = lambda my_string, letter: re.sub(letter, "", my_string)

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120851

In [24]:
def solution(my_string):
    s = 0
    for i in my_string:
        if i.isdigit():
            s += int(i)
    return s

solution('123123hello123123')

24

In [27]:
def solution(my_string):
    s = 0
    for i in my_string:
        print(i)
        print(i.isdigit())
    return s

solution('123123hello123123')

1
True
2
True
3
True
1
True
2
True
3
True
h
False
e
False
l
False
l
False
o
False
1
True
2
True
3
True
1
True
2
True
3
True

0

In [32]:
[i.isdigit() for i in 'hello 1wo2rl3d']
[int(i) for i in 'hello 1wo2rl3d' if i.isdigit()]
sum([int(i) for i in 'hello 1wo2rl3d' if i.isdigit()])

6

In [ ]:
def solution(my_string):
    return sum(map(int, filter(lambda x:x.isdigit(), my_string)))

In [33]:
list(filter(lambda x:x.isdigit(), '123hel8lo123'))

['1', '2', '3', '8', '1', '2', '3']

In [ ]:
# 저주의 숫자 3과 5
# A마을에서는 3과 5를 사용하지 않습니다.
# 3의 배수와 5배수는 3과 5가 들어가지만 않으면 사용합니다. 예를 들어 10은 사용합니다!
# 그러면 이 마을에서 10진수 30이라는 숫자는 어떻게 표현할까요?
# 10진법 - A마을에 숫자체계
# 1 - 1
# 2 - 2
# 3 - 4
# 4 - 6
# 5 - 7
# 6 - 8
# 7 - 9
# 8 - 10
# 9 - 11
# 10 - 12
# 11 - 14
# 와 같은 식으로 11은 14로 표현해야 합니다.

In [42]:
def solution(n):
    answer = list(filter(lambda x: '3' not in str(x) and '5' not in str(x), range(100)))
    return answer[n]

solution(30)

48

In [41]:
def solution(n):
    count = 0
    for i in range(1, n+1):
        count+=1
        while '3' in str(count) or '5' in str(count):
            count+=1
    return count

solution(30)

48

In [44]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[a-zA-Z]', '', my_string)

list(re.sub('[a-zA-Z]', '', my_string)) # list 눈에 보긴 좋지만, 부하가 걸리는 작업입니다.
sum(map(int, re.sub('[a-zA-Z]', '', my_string)))

10

In [52]:
'1234'

# sum('1234', 'hello')
# sum(['1', '2'], 'hello')
sum([['1'], ['2']], [])
sum([10, 20, 30], 100)

TypeError: ignored

In [ ]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string)

'1234'

In [ ]:
import re

def solution(my_string):
    return sum([int(i) for i in re.sub('[^1-9]', '', my_string)])

10

In [ ]:
import re

def solution(my_string):
    return sum(int(i) for i in re.sub('[^1-9]', '', my_string))

### sub의 실무 응용(중고급 강좌)

In [ ]:
import re

re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})',
       r'\1__\2__\3',
       '010-5000-3000')

'010__5000__3000'

In [ ]:
import re

re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})',
       r'\1!!\2!!\3',
       '010-5000-3000')

'010!!5000!!3000'

In [ ]:
import re

re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})',
       r'\1---\2---\3',
       '010-5000-3000')

'010---5000---3000'

In [ ]:
# 문제
# 입력 : '2023/05/16'
# 출력1 : '05/16/2023' # 미국식 날짜 표기 방법(월 / 일 / 년)
# 출력2 : '16/05/2023' # 영국식 날짜 표기 방법(일 / 월 / 년)

In [ ]:
import re

re.sub(r'([0-9]{4})/([0-9]{2})/([0-9]{2})',
       r'\1/\1/\1/\1/\1/\1/\1',
       '2023/05/16')

'2023/2023/2023/2023/2023/2023/2023'

In [ ]:
# 문제
# 입력 : '2023/05/16'
# 출력1 : '05/16/2023' # 미국식 날짜 표기 방법(월 / 일 / 년)
# 출력2 : '16/05/2023' # 영국식 날짜 표기 방법(일 / 월 / 년)
# 미국식
import re

re.sub(r'([0-9]{4})/([0-9]{2})/([0-9]{2})',
       r'\2/\3/\1',
       '2023/05/16')

'05/16/2023'

In [ ]:
# 영국식
import re

re.sub(r'([0-9]{4})/([0-9]{2})/([0-9]{2})',
       r'\3/\2/\1',
       '2023/05/16')

'16/05/2023'

In [ ]:
# 변수로 사용하는 것 test1
import re

re.sub(r'(?P<year>[0-9]{4})/(?P<month>[0-9]{2})/(?P<day>[0-9]{2})',
       r'\3/\2/\1',
       '2023/05/16')

'16/05/2023'

In [ ]:
# 변수로 사용하는 것 test2
# 작동하지 않습니다.
import re

re.sub(r'(?P<year>[0-9]{4})/(?P<month>[0-9]{2})/(?P<day>[0-9]{2})',
       r'\<year>/\<month>/\<day>',
       '2023/05/16')

'\\<year>/\\<month>/\\<day>'

In [ ]:
# 변수로 사용하는 것 test3
import re

re.sub(r'(?P<year>[0-9]{4})/(?P<month>[0-9]{2})/(?P<day>[0-9]{2})',
       r'\g<year>/\g<month>/\g<day>',
       '2023/05/16')

'2023/05/16'

In [ ]:
# md -> html 파일로
# '# hello world' => '<h1>hello world</h1>'
import re

re.sub(r'# (.*)',
       r'<h1>\1</h1>',
       '# hello world')

'<h1>hello world</h1>'

In [ ]:
# md -> html 파일로
# '# hello world' => '<h1>hello world</h1>'
import re

text='''# hello1
hello world
# hello2
hello world
# hello3
hello world
'''

re.sub(r'# (.*)',
       r'<h1>\1</h1>',
       text)

'<h1>hello1</h1>\nhello world\n<h1>hello2</h1>\nhello world\n<h1>hello3</h1>\nhello world\n'

In [ ]:
# md -> html 파일로
# '# hello world' => '<h1>hello world</h1>'
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

text = re.sub(r'# (.*)', r'<h1>\1</h1>', text)
text

'<h1>hello1</h1>\n#<h1>hello1.1</h1>\nhello world\n<h1>hello2</h1>\n#<h1>hello2.1</h1>\nhello world\n<h1>hello3</h1>\n#<h1>hello3.1</h1>\nhello world\n'

In [ ]:
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

text = re.sub(r'## (.*)', r'<h2>\1</h2>', text)
text = re.sub(r'# (.*)', r'<h1>\1</h1>', text)
print(text)

<h1>hello1</h1>
<h2>hello1.1</h2>
hello world
<h1>hello2</h1>
<h2>hello2.1</h2>
hello world
<h1>hello3</h1>
<h2>hello3.1</h2>
hello world

In [ ]:
import re

text='''# hello1
## hello1.1
hello world
# hello2
## hello2.1
hello world
# hello3
## hello3.1
hello world
'''

# p = re.compile('^# (.*)', re.MULTILINE)
# text = p.sub(r'<h1>\1</h1>', text)
text = re.sub(r'^# (.*)', r'<h1>\1</h1>', text, flags=re.M)
text = re.sub(r'^## (.*)', r'<h2>\1</h2>', text, flags=re.M)
print(text)

<h1>hello1</h1>
## hello1.1
hello world
<h1>hello2</h1>
## hello2.1
hello world
<h1>hello3</h1>
## hello3.1
hello world

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1</h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1</h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    html = re.sub(r'`(.*)`', r'<pre><code>\1</code></pre>', html)
    html = re.sub(r'\*\*(.*)\*\*', r'<strong>\1</strong>', html)
    html = re.sub(r'_(.*)_', r'<em>\1</em>', html)
    html = re.sub(r'~~(.*)~~', r'<del>\1</del>', html)
    html = re.sub(r'^(>+) (.*)', r'<blockquote>\1\2</blockquote>', html)
    # html = re.sub(r'^\* (.*)', r'<ul><li>\1</li></ul>', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
<h2>This is a h2</h2>
<h3>This is a h3</h3>
#<h3>This is a h4</h3>
##<h3>This is a h5</h3>
###<h3>This is a h6</h3>

<ul><li>This is a bulleted list
  * This is a nested bulleted list

<strong>This is bold text</strong>

<em>This is italic text</em>

<del>This text is strikethrough</del>
</li></ul>

## 연습문제

In [ ]:
# 다음 숫자를 모두 포함하는 정규표현식을 만들어주세요.

# 010-9091-5491
# 010-5043-2901
# 010-5050-40409
# 010 2913 3132
# 01019133829
# 064-721-3213
# 010.1913.3829

In [ ]:
# 문제 답안
import re

text = '''010-9091-5491
010-5043-2901
010-5050-40409
010 2913 3132
01019133829
064-721-3213
010.1913.3829'''

# 대괄호 안에서는 메타문자 역할을 하는 것은 \, ^, -, ] 4개!
p = re.compile(r'\d{3}[\.\- ]?\d+[\.\- ]?\d+')
p.findall(text)

['010-9091-5491',
 '010-5043-2901',
 '010-5050-404092',
 '010 2913 3132',
 '01019133829',
 '064-721-3213',
 '010.1913.3829']

In [ ]:
l = re.compile(r'([0-9]{3}.?[0-9]{3,4}.?[0-9]{4,5})')
# .? 이 부분에서 모든종류의 문자가 0,1개 라고 읽을 수 있을까요?
# 아니면 이런 형식에서 발생할 수 있는 문제가 있을까요?

# 문제 내에서는 없습니다. 왜냐하면 지금 휴대폰 뒷자리가 5자리인 것도 허용되게 되어 있거든요.
# 만약 실제로 사용하는 코드였다면 자릿수 문제가 생깁니다.
# 앞에 3자리 + 1자리 + 4자리 + 1자리 + 5자리로 최대 숫자가 14자리가 올 수 있게 됩니다.
# '.'에 숫자가 오는 케이스를 말씀드린 것입니다.

In [ ]:
text = '''010-9091-5491
010  5043  2901
'''
l = re.compile(r'(0[0-9]{2}.*[0-9]{3,4}.*[0-9]{4,5})')
l.findall(text)

['010-9091-5491', '010  5043  29012331']

In [ ]:
text = '''010-9091-5491
010  5043  2901
'''
l = re.compile(r'(0[0-9]{2}[^0-9]*[0-9]{3,4}[^0-9]*[0-9]{4,5})')
l.findall(text)

In [ ]:
# 지섭님에 날카로운 질문!
# 대괄호는 이스케이프 처리를 안해줘도 되고 소괄호 이스케이프 처리 해주어야 하는데 이유가 있는지?
# 대괄호
a = re.compile(r'\[.*\]')
b = re.compile(r'\[.*]')
c = re.compile(r']')

print(a.findall(r'[hello]'))
print(b.findall(r'[hello]'))
print(c.findall(r']'))

# 소괄호
d = re.compile(r'\(.*\)')
# e = re.compile(r'\(.*)') # error
# f = re.compile(r')') # error

print(d.findall(r'(hello)'))
# print(e.findall(r'(hello)')) # error
# print(f.findall(r')')) # error

['[hello]']
['[hello]']
[']']
['(hello)']

In [ ]:
# 오답
import re

text = '''010-9091-5491
010-5043-2901
010-5050-40409
010 2913 3132
01019133829
064-721-3213
010.1913.3829'''

p = re.compile(r'.')
p.findall(text)

In [ ]:
# 왜 괄호 처리 못해주나요?
# 대괄호
p = re.compile(r'\[.*\]')
p.findall(r'[hello] [hello] [hello] [hello] [hello] [hello]')

['[hello] [hello] [hello] [hello] [hello] [hello]']

In [ ]:
p = re.compile(r'\[hello\]')
p.findall(r'[hello] [hello] [hello] [hello] [hello] [hello]')

['[hello]', '[hello]', '[hello]', '[hello]', '[hello]', '[hello]']

In [ ]:
p = re.compile(r'\[\w+\]')
p.findall(r'[hello] [hello] [hello] [hello] [hello] [hello]')

['[hello]', '[hello]', '[hello]', '[hello]', '[hello]', '[hello]']

In [ ]:
# 질문 : 자릿수 넘어가는 것은 어떻게 되나요?
# 답 : 잘립니다.
import re

text = '''010-9091-5491
010.1913.382900000000000000'''

p = re.compile(r'\d{3}[-. ]\d{4}[-. ]\d{4}')
p.findall(text)

['010-9091-5491', '010.1913.3829']

## search

In [ ]:
p = re.compile('[yth]')
m = p.search('python')
print(m)

<re.Match object; span=(1, 2), match='y'>

## findall

In [ ]:
p = re.compile('[a-z]+')
result = p.findall('Python')
print(result)

['ython']

In [53]:
p = re.compile('[a-z]+')
result = p.findall('PYTHON IS HELLO WORLD')
print(result)

[]

In [ ]:
p = re.compile('[a-z]+')
result = p.findall('Life is Short, You Need Python!')
print(result)

['ife', 'is', 'hort', 'ou', 'eed', 'ython']

In [56]:
p = re.compile('[a-z]')
result = p.findall('LifeisShort,YouNeed P y t h o n !')
print(result)

['i', 'f', 'e', 'i', 's', 'h', 'o', 'r', 't', 'o', 'u', 'e', 'e', 'd', 'y', 't', 'h', 'o', 'n']

In [ ]:
p = re.compile('[a-z]+')
result = p.findall('LifeisShort,YouNeed P y t h o n !')
print(result)

In [ ]:
p = re.compile('[0-9]+')
result = p.findall('010!5000-1000')
print(result)

['010', '5000', '1000']

In [ ]:
'010-5000-1000'.split('-')

['010', '5000', '1000']

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/17682

In [ ]:
# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2
# re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120891

In [ ]:
p = re.compile('[369]')
result = p.findall('29423')
print(result)

['9', '3']

In [ ]:
def solution(order):
    count = 0
    for i in str(order):
        if i == '3' or i == '6' or i == '9':
            count += 1
    return count

In [ ]:
def solution(order):
    count = 0
    for i in str(order):
        if i == '3':
            count += 1
        elif i == '6':
            count += 1
        elif i == '9':
            count += 1
    return count

In [ ]:
import re

def solution(order):
    p = re.compile('[369]')
    return len(p.findall(str(order)))

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120913

In [58]:
def ngram(s, n):
    for i in range(0, len(s), n):
        print(s[i:i+n])

ngram('python', 2)
# 'py'
# 'th'
# 'on'

# py
# yt
# th
# ho
# on

py
th
on

In [61]:
p = re.compile(r'[a-z]{2}')
s = 'abcdefghijk'
p.findall(s)

['ab', 'cd', 'ef', 'gh', 'ij']

In [ ]:
s = "abc1Addfggg4556b"
len(s)
s[15:18] # str에 slicing 경우 out of range error가 발생 하지 않습니다.

'b'

In [ ]:
s = "abc1Addfggg4556b"
len(s)
s[19:25] # str에 slicing 경우 out of range error가 발생 하지 않습니다.

''

In [ ]:
l = [10, 20, 30]
l[10:15] # slicing 경우 out of range error가 발생 하지 않습니다.

[]

In [ ]:
n = 3
s = "abc1Addfggg4556b"

for i in range(0, len(s), n):
    print(s[i:i+n])

In [ ]:
def solution(my_str, n):
    result = []
    for i in range(0, len(my_str), n):
        result.append(my_str[i:i+n])
    return result

abc
1Ad
dfg
gg4
556
b

In [ ]:
def solution(my_str, n):
    return [my_str[i:i+n] for i in range(0, len(my_str), n)]

In [ ]:
import re

re.findall('.{4}', "abc1Addfggg4556b")

['abc1', 'Addf', 'ggg4', '556b']

In [ ]:
import re

re.findall('.{4}', "abc1Addfggg4556bte")

['abc1', 'Addf', 'ggg4', '556b']

In [ ]:
import re

re.findall('.{1,4}', "abc1Addfggg4556bte")

['abc1', 'Addf', 'ggg4', '556b', 'te']

In [64]:
# why? 왜 실패가 나왔는가?
import re

def solution(my_str, n):
    return re.findall(f'.{1,n}', my_str)

solution('abcdef', 2)

[]

In [68]:
n = 3
print(f'.{1,n}')
print(f'.{{1,n}}') # {{문자열 취급}}
print(f'.{{안녕}}') # {{문자열 취급}}
print(f'.{{1,{n}}}')

.(1, 3)
.{1,n}
.{안녕}
.{1,3}

In [ ]:
# step1
import re

def solution(my_str, n):
    return re.findall(f'.{1,{n}}', my_str)

In [69]:
# step2
# python에서 {를 넣기 위해선 {{를 사용하여야 합니다
import re

def solution(my_str, n):
    return re.findall(f'.{{1,{n}}}', my_str)

solution('abcdefghij', 2)

['ab', 'cd', 'ef', 'gh', 'ij']

In [ ]:
# f-string 용법에서 중괄호를 문자열 그대로 표현하기 위해
# 이스케이프 문자를 사용하지 않습니다.
# 중괄호 2개를 사용합니다!
import re

def solution(my_str, n):
    return re.findall(f'.\{1,{n}\}', my_str)

In [ ]:
# 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120894

In [ ]:
import re

re.findall('(one|two|three|four|five|six|seven|eight|nine|zero)',
           "onetwothreefourfivesixseveneightnine")

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [71]:
'onefourzerosixseven'.replace('one', '1')

'1fourzerosixseven'

In [ ]:
d = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

s = ''
for i in l:
    s += str(d[i])
s

'123456789'

In [ ]:
d = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
''.join([str(d[i]) for i in l])

'123456789'

In [ ]:
d = {
    'zero': 0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9
}
l = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
# list(map(lambda x:str(d[x]), l))
''.join(map(lambda x:str(d[x]), l)) # join 뒤에도 이터러블 객체가 옵니다.

'123456789'

In [ ]:
import re

def solution(numbers):
    s = ''
    d = {
        'one':   '1',
        'two':   '2',
        'three': '3',
        'four':  '4',
        'five':  '5',
        'six':   '6',
        'seven': '7',
        'eight': '8',
        'nine':  '9',
        'zero':  '0',
    }
    for i in re.findall(r'(zero|one|two|three|four|five|six|seven|eight|nine)', numbers):
        s += d[i]
    return int(s)

## finditer

* 정규식과 매치되는 모든 문자열(substring)을 반복 가능한 객체로 리턴한다.

In [ ]:
p = re.compile('.{4}')
result = p.finditer('helloworldhelloworldhelloworld')
result
for i in result:
    print(i)
    print(i.group())
    print(i.span())

<re.Match object; span=(0, 4), match='hell'>
hell
(0, 4)
<re.Match object; span=(4, 8), match='owor'>
owor
(4, 8)
<re.Match object; span=(8, 12), match='ldhe'>
ldhe
(8, 12)
<re.Match object; span=(12, 16), match='llow'>
llow
(12, 16)
<re.Match object; span=(16, 20), match='orld'>
orld
(16, 20)
<re.Match object; span=(20, 24), match='hell'>
hell
(20, 24)
<re.Match object; span=(24, 28), match='owor'>
owor
(24, 28)

## spilt

* 정규표현 패턴으로 문자열을 분할 (str에 split과 같은 역활)

In [ ]:
import re

s = '010 5000!4000'
re.split(r' ', s)

['010', '5000!4000']

In [ ]:
import re

s = '010 5000!4000'
re.split(r'[ !]', s)

['010', '5000', '4000']

In [ ]:
text = '''
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>hello title</title>
</head>
<body>
    <h1>hello h1</h1>
    <p>hello p</p>
</body>
</html>
'''

text.split('>')

['\n<!DOCTYPE html',
 '\n<html lang="ko"',
 '\n<head',
 '\n    <title',
 'hello title</title',
 '\n</head',
 '\n<body',
 '\n    <h1',
 'hello h1</h1',
 '\n    <p',
 'hello p</p',
 '\n</body',
 '\n</html',
 '\n']

In [ ]:
import re

text = '''
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>hello title</title>
</head>
<body>
    <h1>hello h1</h1>
    <p>hello p</p>
</body>
</html>
'''

result = re.split(r'<[^<>]*>', text) # beautifulsoup 원리 : 정규표현식으로 문자열 조각
list(filter(lambda x:x !='\n', map(lambda x:x.strip(), result)))

['',
 '',
 '',
 '',
 'hello title',
 '',
 '',
 '',
 'hello h1',
 '',
 'hello p',
 '',
 '',
 '']

## 연습문제

In [ ]:
# 문제 링크 : https://pyalgo.co.kr/?page=2#

In [ ]:
# 오답
import re

def solution(data):
    p = re.compile(r'[rev][1-9]')
    return p.findall(data)

data = 'a10b9r1ce33uab8wc918v2cv11v9'
solution(data)

['r1', 'e3', 'v2', 'v1', 'v9']

In [ ]:
# 오답
import re

def solution(data):
    p = re.compile(r'[rev][1-9]')
    return p.findall(data)

data = 'a10b9r10ce33uab8wc918v2cv11v9'
solution(data)

['r1', 'e3', 'v2', 'v1', 'v9']

In [ ]:
# 오답
import re

def solution(data):
    p = re.compile(r'[rev][1-9|10]') # 10이 아니고 1과 0입니다.
    return p.findall(data)

data = 'a10b9r10ce33uab8wc918v2cv11v9'
solution(data)

['r1', 'e3', 'v2', 'v1', 'v9']

In [ ]:
# 오답
import re

def solution(data):
    p = re.compile(r'[rev][10|1-9]') # # 10이 아니고 1과 0입니다.
    return p.findall(data)

data = 'a10b9r10ce33uab8wc918v2cv11v9'
solution(data)

['r1', 'e3', 'v2', 'v1', 'v9']

In [ ]:
# 오답
import re

def solution(data):
    p = re.compile(r'([rev])([1-9]|10)')
    return p.findall(data)

data = 'a10b9r10ce33uab8wc918v2cv11v9'
solution(data)

[('r', '1'), ('e', '3'), ('v', '2'), ('v', '1'), ('v', '9')]

In [ ]:
# 정답
import re

def solution(data):
    p = re.compile(r'([rev])(10|[1-9])')
    return p.findall(data)

data = 'a10b9r10ce33uab8wc918v2cv11v9'
solution(data)

[('r', '10'), ('e', '3'), ('v', '2'), ('v', '1'), ('v', '9')]